.cagetory_item {
    margin: 0 15px;
    cursor: pointer;
}
.cagetory_item:hover > .cagetory_icon img {
    transform: scale(1.2);
}
.cagetory_item span.cagetory_icon {
    display: block;
    padding: 10px;
    width: 170px;
    height: 100px;
    background-color: #efefef;
}
.cagetory_item span.cagetory_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all 0.3s linear;
}
span.cagetory_name {
    display: block;
    padding: 10px 5px;
    text-align: center;
    color: #333;
}
