.filters {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: #888888;
    z-index: 100;
    transition: all 0.3s linear;
}
.filters.show {
    left: 0;
}
.filters_title {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-bottom: 20px;
}
.filters_title h4 {
    color: #fff;
}
.filters_title h4 i {
    font-size: 12px;
    margin-right: 7px;
}
.filters_title button.close {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 15px;
    padding: 3px 7px;
    border: 2px solid #77777788;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #77777788;
    transition: all 0.2s linear;
}
.filters_title button.close i {
    color: #fff;
}
.filters_title button.close:hover {
    border: 2px solid #ccc;
}
.filters_item + .filters_item {
    margin-top: 20px;
}
.filters_item label {
    color: #fff;
}
.filters_item select {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}
.btn_submit {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: #888888;
    transition: all 0.2s linear;
}
.btn_submit:hover {
    color: #000;
    background-color: #ccc;
}
