.category_tabs ul {
    display: flex;
    justify-content: center;
}
.category_tabs ul li {
    list-style: none;
    padding: 0 35px;
    font-weight: 500;
    cursor: pointer;
    color: #888888;
}
.category_tabs ul li.select {
    color: #000;
}
.category_tabs ul li:hover {
    color: #000;
}
